<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextekStudio.com</title>
    <link rel="stylesheet" href="static/style.css">
    <script defer src="static/main.js"></script>
    <script src="https://kit.fontawesome.com/aa19448396.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Nav-Bar -->
    <nav class="navbar">
        <a href="{{ url_for('index') }}" class="logo">
        <img src="static/images/nextek white.png" class="logo">
        <ul id="navbarmenu">
            <li><a href="#header" class="navbar-links active">Home</a></li>
            <li><a href="#about" class="navbar-links">About</a></li>
            <li><a href="#services" class="navbar-links">Services</a></li>
            <li><a href="#portfolio" class="navbar-links">Portfolio</a></li>
            <li><a href="#contact" class="navbar-links">Contact</a></li>
            <i class="fa-solid fa-xmark" onclick="closemenu()"></i>
        </ul>
        <i class="fa-solid fa-bars"onclick="openmenu()"></i>
    </nav>

    <!-- Header -->
    <section class="Header">
        <div id="header">
            <div class="container">
                <div class="header-text">
                    <h1><span>Empower</span> Your Brand with Us </h1>
                    <p>Bringing Your Ideas to Life with Innovative Web Design Solutions</p>
                </div>
            </div>
        </div>
    </section>

     <!-- BANNER
        ---------------------------------------- -->
        <div class="banner_wrapper">
            <ul class="banner_list">
                <li class="banner_item">
                    <p>HTML5 <i class="fa-brands fa-html5"></i></p>
                </li>
                <li class="banner_item">
                    <p>CSS <i class="fa-brands fa-css3-alt"></i></p>
                </li>
                <li class="banner_item">
                    <p>JavaScript <i class="fa-brands fa-js"></i></p>
                </li>
                <li class="banner_item">
                    <p>React <i class="fa-brands fa-react"></i></p>
                </li>
                <li class="banner_item">
                    <p>Python <i class="fa-brands fa-python"></i></p>
                </li>
                <li class="banner_item">
                    <p>Figma <i class="fa-brands fa-figma"></i></p>
                </li>
            </ul>
        </div>

    <!-- About -->

    <section class="About">
        <div id="about">
            <div class="container">
                <div class="row">
                    <div class="about-col-1">
                        <img src="static/images/test_laptop.png">
                    </div>
                    <div class="about-col-2">
                        <h1 class="sub-title">About Us</h1>
                        <p>Nextek Studio was founded in 2023 with a passion for innovation in the digital space. Based in Las Vegas, our expertise knows no geographic bounds. With over a decade of experience, our team of 5 talented experts works in harmony to deliver high quality services to clients worldwide. Our strength lies in the diversity of our team, from seasoned programmers to creative designers. Each member brings unique skills and expertise, enabling us to tackle the challenges of the most varied projects.</p>
                        <div class="tab-titles">
                            <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                            <p class="tab-links" onclick="opentab('experience')">Experience</p>
                            <p class="tab-links" onclick="opentab('other')">Other</p>
                        </div>
                        <div class="tab-contents active-tab" id="skills">
                            <ul>
                                <li><span>UI/UX</span><br>We view UX/UI design as a bridge that connects businesses with their audience in the digital landscape. Whether you're launching a new product or improving an existing one, our UX/UI design services are tailored to create memorable and user-friendly experiences that leave a lasting impression. Let us transform your vision into an engaging and visually captivating reality.</li>
                                <li><span>Web Design</span><br>Nextek's Web Design where innovation meets functionality, and your online presence takes center stage. Our dedicated team of web design experts is committed to crafting visually stunning, user-friendly websites that not only captivate your audience but also drive meaningful engagement and results.</li>
                                <li><span>Web Development</span><br>Web Development is where we bring your digital vision to life and seamlessly launch it into the online realm. Our experienced team of developers is dedicated to delivering robust, scalable, and innovative web solutions tailored to meet the unique needs of your business.</li>
                            </ul>
                        </div>
                        <div class="tab-contents" id="experience">
                            <ul>
                                <li><span>Vision</span><br>Our vision is to be a catalyst for transformative digital solutions, empowering businesses to thrive in the dynamic and ever-evolving landscape of technology. We envision a future where innovation is not just a concept but a driving force behind every digital endeavor, shaping the way businesses connect with their audiences and achieve unparalleled success.</li>
                                <li><span>Experience</span><br>A journey that transcends the ordinary, redefining the way businesses and users engage with the digital realm. At Nextek, we pride ourselves on curating an unparalleled experience that goes beyond the surface, weaving together innovation, collaboration, and excellence into the very fabric of our services.</li>
                                <li><span>Innovate</span><br>Innovation is not just what we do; it's who we are. At Nextek, we invite you to embark on a journey where innovation becomes the driving force behind transformative digital experiences. Together, let's explore the limitless possibilities that arise when creativity and technology converge.</li>
                            </ul>
                        </div>
                        <div class="tab-contents" id="other">
                            <ul>
                                <li><span>Goals</span><br>At Nextek, our goals are a roadmap that guides our journey towards excellence, innovation, and client success. Rooted in a vision of being a leader in the digital realm, our goals shape the direction of our efforts and reflect our commitment to pushing boundaries. </li>
                                <li><span>User Experiences</span><br>We prioritize the creation of exceptional user experiences. Our goal is to craft digital solutions that captivate, engage, and resonate with end-users. By focusing on usability, aesthetics, and functionality, we aim to ensure that every interaction with our products leaves a positive and lasting impression.</li>
                                <li><span>Continuous Learning and Growth</span><br>Nextek is dedicated to fostering a culture of continuous learning and growth. Our goal is to empower our team with the knowledge and skills needed to stay ahead in the fast-paced world of technology. By investing in professional development, we ensure that our team remains adaptive, versatile, and ready to tackle evolving challenges.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->

    <section class="Services">
        <div id="services">
            <div class="container">
                <h1 class="sub-title">Our Services</h1>
                <div class="services-list">
                    <div>
                        <i class="fa-solid fa-code"></i>
                        <i class="fa-solid fa-laptop-code"></i>
                        <i class="fa-solid fa-bars-staggered"></i>
                        <h2>Web Design</h2>
                        <p>Nextek's Web Design where innovation meets functionality, and your online presence takes center stage. Our dedicated team of web design experts is committed to crafting visually stunning, user-friendly websites that not only captivate your audience but also drive meaningful engagement and results.</p>
                        <a href="#">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-brands fa-uikit"></i>
                        <i class="fa-solid fa-palette"></i>
                        <i class="fa-solid fa-vector-square"></i>
                        <h2>UX/UI Design</h2>
                        <p>We view UX/UI design as a bridge that connects businesses with their audience in the digital landscape. Whether you're launching a new product or improving an existing one, our UX/UI design services are tailored to create memorable and user-friendly experiences that leave a lasting impression. Let us transform your vision into an engaging and visually captivating reality.</p>
                        <a href="#">Learn more</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-gears"></i>
                        <i class="fa-solid fa-file-code"></i>
                        <i class="fa-solid fa-terminal"></i>
                        <h2>Web Development</h2>
                        <p>Web Development is where we bring your digital vision to life and seamlessly launch it into the online realm. Our experienced team of developers is dedicated to delivering robust, scalable, and innovative web solutions tailored to meet the unique needs of your business.</p>
                        <a href="#">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfoloio -->

    <section class="Portfolio">
        <div id="portfolio">
            <div class="container">
                <h1 class="sub-title">Our Work</h1>
                <div class="work-list">
                    <div class="work">
                        <img src="static/images/portfolio image 1.jpg" alt="">
                        <div class="layer">
                            <h3>Project 01</h3>
                            <p>Random text,Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, molestiae! Quaerat rem modi ratione praesentium ex, exercitationem corrupti at, molestias libero minima quod consectetur aspernatur vel totam placeat iure alias?</p>
                            <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                        </div>
                    </div>
                    <div class="work">
                        <img src="static/images/portfolio image 2.jpg" alt="">
                        <div class="layer">
                            <h3>Project 02</h3>
                            <p>Random text, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga deleniti, optio iusto atque rem commodi natus. Ipsam odit praesentium aut modi incidunt consectetur! Accusantium at assumenda magnam itaque veritatis exercitationem.</p>
                            <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                        </div>
                    </div>
                    <div class="work">
                        <img src="static/images/project_01.png" alt="">
                        <div class="layer">
                            <h3>Nextek portfolio</h3>
                            <p>The Nextek Portfolio Website serves as a dynamic showcase of our diverse range of skills, expertise, and the innovative projects we've undertaken. Designed with a user-centric approach, the site aims to provide visitors with a seamless journey through our digital capabilities and accomplishments.</p>
                            <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
    <!-- Contact -->
    <section class="Contact">
        <div id="contact">
            <div class="container">
                <div class="row">
                    <div class="contact-left">
                        <h1 class="sub-title">Contact us</h1>
                        <p><i class="fa-regular fa-envelope"></i> info@nextekstudio.com</p>
                        <!-- <p><i class="fa-solid fa-phone"></i>  123-456-7890</p> -->
                        <div class="social-icons">
                            <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
                            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="https://www.upwork.com/"><i class="fa-brands fa-upwork"></i></a>
                            <a href="https://github.com/"><i class="fa-brands fa-github"></i></i></a>
                        </div>
                    </div>
                    <div class="contact-right">
                        <form action="/submit_form" method="POST">
                            <input type="text" name="Name" placeholder="Your Name" required>
                            <input type="email" name="email" placeholder="Your E-mail" required>
                            <textarea name="message" rows="6" placeholder="Your message"></textarea>
                            <button type="submit" class="btn">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div id="footer">
            <div class="footer">
                <div class="footer-terms">
                    <p><i class="fa-regular fa-copyright"></i> 2024 Nextek Studio| All rights reserved| <a href="#"> Terms and conditions  <i class="fa-solid fa-up-right-from-square">|</i></a><a href="#"> Privacy  <i class="fa-solid fa-up-right-from-square">|</i></a></p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>